* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* start my fremwork */
.hero h2 {
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
}

.hero h2::after {
    position: absolute;
    content: "";
    width: 56px;
    height: 3px;
    bottom: -2px;
    left: 0;
    background: #fff;
}

/* end my fremwork */
/* start header */
header {
    min-height: 100vh;
    background: url(../img/__\ holder.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* start nav*/
header .navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

header .navbar-brand span {
    color: #4bcaff;

}

.nav-bac {
    background-color: #434d55d9 !important;
}

.nav-menu {
    background-color: #434d55d9 !important;
    padding: 10px 1rem;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.menu-item {
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: none !important;
}

.cl-effect-16 a {
    text-shadow: none !important;
}

.cl-effect-16 a::before {
    color: #4bcaff !important;
    content: attr(data-hover);
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    opacity: 0;
    text-shadow: none !important;
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.line1,
.line2,
.line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .4s;
    transition: all .4s;
    transition: all .4s;
    transition: all .4s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
    background-color: #434d55d9 !important;
    padding: 0 1rem !important;
}

/* end nav*/
header .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

header .text q {
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    font-size: 35px;
    background-color: #434d55d9;
}

/* end header*/
/* start services*/
.services {
    background-color: #4bcaff;
    color: #fff;
}

.services i {
    font-size: 34px;
    padding-bottom: 10px;
}
.services h6 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.services p {
    font-size: 11px;
    font-weight: 300;
}
/* end services*/
/* start portfolio*/
.portfolio{
    color: #515f67;
}
.portfolio .hero h2::after{
    background-color: #515f67;
}

/* end portfolio*/
/* start section*/
.section{
    color: #fff;
    background-color: #515f67;
}
.section p{
    font-size: 11px;
    font-weight: 300;
    line-height: 2;
}
.section button{
    border: 4px solid #353f46;
    background-color: #515f67;
    padding: 5px 30px;
    margin-top: 9px;
}
.section button:hover{
    background-color: #4bcaff;
}
.section button a{
    color: #353f46;
    font-weight: 500;
    text-decoration: none;
}

/* end section*/
/* start twitter*/
.twitter{
    background-color: #4bcaff;
    color: #fff;
}
.twitter .hero a{
    color: #fff;
}
.twitter .hero i{
    font-size: 33px;
}
.twitter p{
    font-size: 24px;
}
.twitter p span{
    font-weight: 600;
}
/* end twitter*/
/* start who is*/
.who-is{
    background: url(../img/_\ bg\ photo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}
.who-is p{
    font-size: 11px;
    font-weight: 300;
    line-height: 2;
}
.who-is .icon a{
    color: #fff;
    border: 2px solid #fff;
    padding: 17px 14px;
    background-color: transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.who-is .icon a:hover{
    background-color: #4bcaff;
}
.who-is .icon a i{
    font-size: 25px;
}
/* end who is*/
/* start testimonials */
.testimonials{
    color: #515f67;
}
.testimonials .hero h2::after{
    background-color: #515f67;
}
.testimonials p{
    font-size: 24px;
}
.testimonials span{
    font-size: 15px;
    color: #4bcaff;
}
/* end testimonials */
/* start Contact */
.contact{
    background: url(../img/__\ bg-holder.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.contact label{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.contact input{
    border: 3px solid #fff;
    background-color: transparent;
    
}
.contact input[type="email"],
.contact input[type="text"]{
    height: 56px;
    width: 80%;
}
.contact p{
    font-size: 11px;
    font-weight: 300;
    line-height: 2;
    padding-top: 21px;
}
.contact .info{
    padding-top: 17px;
}
.contact .info span{
    font-size: 11px;
    font-weight: 300;
}
.contact  textarea{
    width: 100%;
    background-color: transparent;
    border: 3px solid #fff;
}

.contact input[type="submit"]{
    height: 56px;
    width: 30%;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #4bcaff;
}

/* end Contact */
/* start footer */
footer{
    background-color: #353f47;
}
footer .nav-footer ul{
    list-style: none;
}
footer .nav-footer ul li{
    display: inline-block;
}
footer .nav-footer ul li a{
    color: #515f67;
    text-transform: uppercase;
}
footer .copy-right p{
    color: #515f67;
    font-size: 13px;
}
/* end footer */